.Center{text-align:center;}    
.Center * {margin: 0 auto;}

.Visibile{visibility:visible;}
.Hidden, img.Hidden{visibility:hidden;}

.Errors{color:Red; font-weight:bold;}

html.busy, html.busy * {  cursor: wait !important;}  /* http://postpostmodern.com/instructional/global-ajax-cursor-change/ */

.Information {color:#B0C4DE}

div.Information p {color:Green; margin-bottom:10px; font-weight:normal}

div.inline {float:left}
